.chat-main
  .chat-main_group-info
    .chat-main_group-box
      .chat-main_group-text
        = @group.name
      .chat-main_group-member
        Member :
        - @group.users.each do |user|
          = user.name
    .chat-main_group-btn
      = link_to edit_group_path(@group), class: "edit__btn edit__btn1" do
        Edit
  .chat-main_message-list
    = render partial: 'message', collection: @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: '_message-forme', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'input-box_image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'input-form-btn '
